{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{image.title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">
</head>
<body>
	<div class="container">
		<div class="image-container">
			<img src="{{image.image.url}}" class="image">
		</div>
		<div class="details">
			<h1>{{image.title}}</h1>
			Author
			<a href="{% url 'user' image.author.id%}">
				<p>{{image.author}}</p>
			</a>
			
			Upload date
			<p>{{image.date}}</p>

			 {% if image.description %}
            Description
            <p>{{ image.description }}</p>
        {% endif %}
			<a href="{% url 'download_image' image_id=image.pk %}">Download</a>
		</div>
	</div>
</body>
</html>
