{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload image</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>


    <form method="POST" action="{% url 'upload'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Upload image</h1>
        <label for="title">Title:</label>
        {{form.title}}

        <label for="image">Image:</label>
        {{form.image}}

        <label for="description">Description:</label>
        {{form.description}}

      

            <br>
            <input type="submit" value="Upload">
        </div>

    </form>

</body>

</html>