{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}} profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="profile">
        {% if request.user == author.user %}
        <button type="button" onclick="location.href='{% url 'edit_user' %}'">Edit</button>
        {% endif %}
        
        <h2>{{ author.user.username }}</h2>
        <p>{{ author.user.email }}</p>
        <img src="{{ author.avatar.url }}" alt="User image">
        <div class="bio">
            <h3>Bio</h3>
            <p>{{ author.bio }}</p>
        </div>
        <h3>Uploaded Images</h3>
        <div class="images">
            
                {% for image in images %}
                <div>
                    <a href="{% url 'image' image.id %}">
                        <img class="image" src="{{ image.image.url }}" />
                    </a>
                </div>
                
                {% endfor %}
            
        </div>
    </div>


</body>
</html>
